#N
clk
rst_n
critical_threshold_i.*
enable_preempt_i

#S
host_req_i.*
host_req_ready_o

#W
early_valid_o
early_tag_o.*
early_addr_o.*
early_hdr_o.*
dram_req_o.*
dram_req_ready_i

#E
dram_resp_valid_i
dram_resp_tag_i.*
dram_resp_beat_idx_i.*
dram_resp_last_beat_i
dram_resp_data_i.*
host_resp_o.*
host_resp_ready_i
